 *{
    margin: 0;
    padding: 0;
 }

 #container{
    width: 100;
    margin: 100px 100px 20px 100px;
    display: flex;
    border: 2px solid black;
}
 #card{
    width: 200px;
    border: 2px solid black;
    margin:  10px ;
        }
 #card > img{
    width: 100%;
 }