.container{
    width: 800px;
    height: 300PX;
    background-color: aqua;
    border: 2px solid black;
    text-align: center;   
    display: inline-grid;
     grid-template-rows: 1fr 1fr 1fr 1fr ;
    grid-template-columns: repeat(3,1fr);
    row-gap: 3px;
    column-gap: 2px; 
    /* justify-items: center; */
    /* align-items: end; */
    place-items: center;

    


    /* grid-gap: 15px;   this is shorthand of row-gap and column gap*/ 
    /* grid-template-rows: 50px 50px 50px; */
    /* grid-template-columns: 100px 100px 100px; */
}

.items{
        width: 100px;
        height: 50px; 
        border: 2px solid black;
        background-color: red;
}

#one{
    /* justify-self: end; */
    /* align-self: start; */
    place-self: start;
}


/* #one{
  grid-column-start: 1;
 grid-column-end: 4;    
 grid-column: 1 / 3; 
 grid-column:  1/span 3; 
 }  */

/* #two{ 
    grid-row-start: 1; 
     grid-row-end: 3; 
 } */