.card{
    height: 300px;
    width: 200px;
    border: 1px solid black;
    display: inline-block;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 4px 5px 10px black ;
    transition: 1s;
    margin: 10px 20px 30px 50px;
}
img{
    width: 100%;
    background-color: orange;
    border-radius: 5px 5px 0px 0px;
}
.desc{
    text-align: center;
}
.card:hover{
    box-shadow: 8px 10px 20px black ;
}