div{
    height: 200px;
    width: 200px;
    margin: 2px;
    background-color: green;
    transition: 1000ms;
    display: inline-block;
}

#blue:hover{
    background-color: blue;
    border-radius: 10%;
}
#red:hover{
    background-color: red;
    border-radius: 20%;
}
#yellow:hover{
    background-color: yellowblue;
    border-radius: 30%;
}
#tan:hover{
    background-color: tan;
    border-radius: 40%;
}
#orange:hover{
    background-color: orange;
    border-radius: 45%;
}
#pink:hover{
    background-color: pink;
    border-radius: 50%;
}
 