div{
    height: 200px;
    width: 200px;
    margin: 2px;
    background-color: green;
    /* transition: 1s;
    transition-delay: 3ms;
    transition-timing-function: ease-in-out; */
    transition: 1s linear 2ms;
    display: inline-block;
}

#blue:hover{
    background-color: blue;
    border-radius: 10%;
    margin-top: 400px;
}
#red:hover{
    background-color: red;
    border-radius: 20%;
    margin-top: 400px;
}
#yellow:hover{
    background-color: yellowblue;
    border-radius: 30%;
    margin-top: 400px;
}
#tan:hover{
    background-color: tan;
    border-radius: 40%;
    margin-top: 400px;
}
#orange:hover{
    background-color: orange;
    border-radius: 45%;
    margin-top: 400px;
}
#pink:hover{
    background-color: pink;
    border-radius: 50%;
    margin-top: 400px;
}
 